<% title "Post" %>

<p>
  <strong>Title:</strong>
  <%=h @post.title %>
</p>
<p>
  <strong>Artist:</strong>
  <%=h @post.artist %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @post.description %>
</p>
<p>
  <strong>Date:</strong>
  <%=h @post.date %>
</p>
<p>
  <strong>Price:</strong>
  <%=h @post.price %>
</p>

<p>
  <%= link_to "Edit", edit_post_path(@post) %> |
  <%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", posts_path %>
</p>
